<div class="ui secondary menu inverted blue" style="border-bottom: solid 1px #D4D4D5;">
  {{#link-to "admin.index" class="item"}}
	<img src="assets/images/logo-white.svg" />
  {{/link-to}}
  <div class="left menu">
	<a class="ui pointing dropdown item application-dropdown"><i class="white block layout icon"></i>Applications
	<i class="dropdown icon"></i>
	  <div class="menu ui transition hidden">
	    {{#link-to "admin.objects.list-home" class="item"}}<i class="blue cubes icon"></i>OBJECTS{{/link-to}}
	  </div>
	</a>
  </div>
  <div class="right menu">
	<a class="ui pointing dropdown item identity">{{person.display_name}} (<b>@{{person.username}}</b>)
	<i class="dropdown icon"></i>
	  <div class="menu ui transition hidden">
	  {{#link-to "admin.profile" class="item"}}<i class="blue user icon"></i>My profile{{/link-to}}
	  <a class="item red text" {{ action 'logout' }}><i class="red lock icon"></i>Logout</a>
	  </div>
	</a>
  </div>
</div>

{{notify-message}}

{{yield}}
