<div class="ui basic segment">
{{files-breadcrumbs breadcrumbs=breadcrumbs list="list"}}
</div>

<table class="very basic ui blue table fixed selectable collapsing very compacted" style="height: 75vh; display:block; overflow-y: auto">
  <thead>
    <tr>
      <th class="left aligned one wide no-sort" style="overflow:visible;">
	<div class="ui icon left pointing dropdown button basic">
	  <i class="plus blue icon"></i>
	  <div class="ui menu">
	    <div class="item {{if uploadTotal 'disabled'}}">
		{{#x-file-input name="files" action="didSelectFiles" alt="Choose a file" multiple=true}}
		<b><i class="ui upload blue icon"></i>Upload files</b>
		{{/x-file-input}}
	    </div>
	    <div {{action "showBlobInput"}} class="item {{if newBlobButtonDisabled 'disabled'}}">
		<div><b><i class="ui blue cube icon"></i>New file</b></div>
	    </div>
	    <div {{action "showFolderInput"}} class="item {{if newFolderButtonDisabled 'disabled'}}">
		<div><b><i class="ui yellow folder open icon"></i>New folder</b></div>
	    </div>
	    <div {{action "toggleBatchMode"}} class="item {{unless viewFiles.length 'disabled'}} ">
		<div><b><i class="ui green unordered list icon"></i> Toggle batch mode</b></div>
	    </div>
	  </div>
	</div>
      </th>
      <th class="left aligned one wide no-sort"></th>
      <th class="left aligned sorted ascending eleven wide">Name</th>
      <th class="right aligned one wide">Size</th>
      <th class="right aligned two wide">Modified</th>
      <th class="right aligned one wide"></th>
    </tr>
    {{#if batchMode}}
    {{#if viewFiles.length}}
    <tr>
      <th class="left aligned one wide">
	  {{input type="checkbox" checked=selectedAll class="checkbox select-all"}}
      </th>
      <th class="left aligned one wide"></th>
      <th class="left aligned sorted ascending eleven wide">
	{{#if selectedFiles}}
		<label class="ui label">{{selectedFiles}} files selected</label>
	<button {{action "deleteSelected"}} class="ui compact circular labeled icon red tiny button right aligned">
	  <i class="trash icon"></i>
	  Delete selected
	</button>
      {{/if}}
      </th>
      <th class="right aligned one wide"></th>
      <th class="right aligned one wide"></th>
      <th class="right aligned one wide">
      </th>
    </tr>
    {{/if}}
    {{/if}}
  </thead>
  <tbody>
	{{#each viewFiles as |file|}}
	    <tr
		class="{{if file.ui_deleting "disabled error"}}{{if file.ui_highlight "warning"}}{{if file.ui_selected "warning"}}{{if file.ui_renaming 'disabled warning'}}"
		data-clawio-path={{file.path}}
		>
	      <td class="left aligned" style="overflow:visible;">
		{{#if batchMode }}
		{{input type="checkbox" checked=file.ui_selected}}
		{{else}}
		<div class="ui icon left pointing dropdown file-dropdown">
		  <i class="blue ellipsis vertical icon"></i>
		  <div class="ui menu">
		    <div {{action "examine" file.path}} class="item"><i class="ui eye icon"></i>Examine</div>
		    <div {{action "toggleRename" file}} class="item"><i class="ui edit icon"></i>Rename</div>
		    <div {{action "share" file}} class="item"><i class="ui share alternate icon"></i>Share</div>
		  </div>
		</div>
		{{/if}}
	      </td>
	      <td class="left aligned">
		<a {{action "default" file.folder file.path}} href="">
			<i class="ui large {{mime file.folder file.path}} icon"></i>
		</a>
	      </td>
	      {{#if file.ui_rename_input_visible}}
		<td>
		<div class="ui small input fluid">
		  {{input type="text" value=newFileName class="rename-input" key-up="processRename" focus-out="hideRenameInput"}}
		</div>
		</td>
	      {{else}}
		{{#if file.ui_renaming}}
		<td>
		<div class="ui left icon input disabled loading small fluid">
		  <input type="text" value="Renaming file" />
		  <i class="ui blue cube icon"></i>
		</div>
		</td>
		{{else}}
		<td {{action "default" file.folder file.path}} class="left aligned"><a href="">{{basename file.path}}</a></td>
		{{/if}}
	      {{/if}}
	      <td class="right aligned"><small>{{human-size file.folder file.size 1024}}</small></td>
	      <td class="right aligned clawio-modified">
			<small data-title={{o.path}} data-content={{human-date file.modified}} data-variation="mini">{{time-since file.modified}}</small>
	      </td>
	      <td class="right aligned">
	      {{#if file.ui_deleting}}
		<i class="ui red icon circle notched loading small"></i>
	      {{else}}
	      {{#unless batchMode}}
		<a {{action "delete" file.path}} href=""><i class="ui red icon trash"></i></a>
	      {{/unless}}
	      {{/if}}
	      </td>
	    </tr>
	{{/each}}
  </tbody>
</table>

{{#if uploadTotal}}
<div class="ui bottom demo sidebar ui blue segment push visible very wide">
  <div class="ui center aligned page grid">
    <div class="one column row"></div>
    <div class="one column row">
      <div class="sixteen wide column">
	{{progress-bar total=uploadTotal value=uploadValue filename=uploadFilename sizeRatio=uploadFilesizeRatio}}
      </div>
    </div>
    <div class="one column row"></div>
  </div>
</div>
{{/if}}

{{#if shareComponentVisible}}
<div class="ui right ui sidebar segment visible very wide">

{{#if shareComponentLoading}}
<div class="ui dimmer inverted active" >
<div class="ui text loader active">Loading share info</div>
</div>
{{/if}}
  <div class="ui center aligned page grid">
      <div class="ui row">
	<div class="ui column">
	<small><b>{{ basename shareFile.path}}</b></small>
        </div>
      </div>
      <div class="ui row">
        <div class="ui column">
	<div class="ui secondary pointing menu">
	  <a class="active item">
	    Link
	  </a>
	  <a class="item">
	    User
	  </a>
	  <a class="item">
	    Group
	  </a>
	</div>
	</div>
  </div>
  </div>
  <div class="ui hidden divider"/>
      <div class="ui row">
       <div class="ui column">
       {{#if shareLink}}
       {{share-link-detail link=shareLink unlink="deleteShareLink"}}
       {{else}}
       {{share-link-form create="createShareLink"}}
       {{/if}}
       </div>
      </div>
</div>
{{/if}}
