<div class="ui hidden divider"/>
<div class="ui container">
{{#if uploadTotal}}
<div class="ui hidden divider"></div>
{{progress-bar total=uploadTotal value=uploadValue filename=uploadFilename sizeRatio=uploadFilesizeRatio}}
{{/if}}

<div class="ui grid">
  <div class="four column row">
    <div class="left floated ten wide column">
    {{objects-breadcrumbs breadcrumbs=breadcrumbs list="list"}}
    </div>
    <div class="right floated column right aligned">
      <div class="ui action left icon tiny input">
        <i class="search icon"></i>
        {{input key-up="filter"  type="text" placeholder="Filter..." value=filterterm}}
  	<button {{action "clearFilter" on="click"}} class="ui basic tiny button">Clear</button>
      </div>
    </div>
  </div>
</div>

{{#if isObjectBeingCreated }}
<div class="ui left icon input disabled loading">
  <input type="text" value="Creating object" />
  <i class="ui blue cube icon"></i>
</div>
{{/if}}

{{#if creatingObject }}
<div class="ui left icon input new-object-input">
  {{input type="text" placeholder="New object" focus-out="hideCreatingObject" value=newObjectName key-up="processNewObject"}}
  <i class="ui blue cube icon"></i>
</div>
{{/if}}

{{#if isTreeBeingCreated }}
<div class="ui left icon input disabled loading">
  <input type="text" value="Creating tree" />
  <i class="ui blue cube icon"></i>
</div>
{{/if}}

{{#if creatingTree }}
<div class="ui left icon input new-tree-input">
  {{input type="text" placeholder="New tree" focus-out="hideCreatingTree" value=newTreeName key-up="processNewTree"}}
  <i class="ui yellow open folder icon"></i>
</div>
{{/if}}

<table class="ui blue table fixed selectable very compact">
  <thead>
    <tr>
      <th class="left aligned one wide" style="overflow:visible;">
	<div class="ui icon left pointing dropdown button basic">
	  <i class="plus blue icon"></i>
	  <div class="ui menu">
	    <div class="item {{if uploadTotal 'disabled'}}">
		{{#x-file-input name="files" action="didSelectFiles" alt="Choose a file" multiple=true}}
		<b><i class="ui upload blue icon"></i>Upload objects</b>
		{{/x-file-input}}
	    </div>
	    <div {{action "showCreatingObject"}} class="item {{if creatingObject 'disabled'}} {{if isObjectBeingCreated 'disabled'}}">
		<div><b><i class="ui blue cube icon new-object-button"></i>New object</b></div>
	    </div>
	    <div {{action "showCreatingTree"}} class="item {{if creatingTree 'disabled'}} {{if isTreeBeingCreated 'disabled'}}">
		<div><b><i class="ui yellow folder open icon new-tree-button"></i>New tree</b></div>
	    </div>
	    <div {{action "toggleBatchMode"}} class="item {{unless viewObjects.length 'disabled'}} ">
		<div><b><i class="ui green unoderered list icon"></i> Toggle batch mode</b></div>
	    </div>
	  </div>
	</div>
      </th>
      <th class="left aligned one wide"></th>
      <th class="left aligned sorted ascending eleven wide">Name</th>
      <th class="right aligned one wide">Size</th>
      <th class="right aligned two wide">Modified</th>
      <th class="rigth aligned one wide"></th>
    </tr>
    {{#if batchMode}}
    {{#if viewObjects.length}} 
    <tr>
      <th class="left aligned one wide">
	  {{input type="checkbox" checked=selectedAll class="checkbox select-all"}}
      </th>
      <th class="left aligned one wide"></th>
      <th class="left aligned sorted ascending eleven wide">
	{{#if selectedObjects}}
		<label class="ui label">{{selectedObjects}} objects selected</label>
	<button {{action "deleteSelected"}} class="ui compact circular labeled icon red tiny button right aligned">
	  <i class="trash icon"></i>
	  Delete selected
	</button>
      {{/if}}
      </th>
      <th class="right aligned one wide"></th>
      <th class="right aligned one wide"></th>
      <th class="rigth aligned one wide">
      </th>
    </tr>
    {{/if}}
    {{/if}}
  </thead>
  <tbody>
	{{#each viewObjects as |object|}}
	    <tr 
		class="{{if object.ui_deleting "disabled error"}}{{if object.ui_highlight "warning"}}{{if object.ui_selected "warning"}}{{if object.ui_renaming 'disabled warning'}}"
		data-clawio-pathspec={{object.pathspec}}
		>
	      <td class="left aligned" style="overflow:visible;">
		{{#if batchMode }}
 		{{input type="checkbox" checked=object.ui_selected}}
		{{else}}
		<div class="ui icon top left pointing dropdown object-dropdown">
		  <i class="blue ellipsis vertical icon"></i>
		  <div class="ui menu">
		    <div {{action "examine" object.pathspec}} class="item"><i class="ui eye icon"></i>Examine</div>
		    <div {{action "toggleRename" object}} class="item"><i class="ui edit icon"></i>Rename</div>
		  </div>
		</div>
		{{/if}}
	      </td>
	      <td class="left aligned">
		<a {{action "default" object.type object.pathspec}} href="">
			<i class="ui large {{mime object.type object.mime_type}} icon"></i>
		</a>
	      </td>
	      {{#if object.ui_rename_input_visible}}
		<td>
		<div class="ui small input fluid">
		  {{input type="text" value=newObjectName class="rename-input" key-up="processRename" focus-out="hideRenameInput"}}
		</div>
		</td>
	      {{else}}
		{{#if object.ui_renaming}}
		<td>
		<div class="ui left icon input disabled loading small fluid">
		  <input type="text" value="Renaming object" />
		  <i class="ui blue cube icon"></i>
		</div>
		</td>
		{{else}}
	        <td {{action "default" object.type object.pathspec}} class="left aligned"><a href="">{{basename object.pathspec}}</a></td>
		{{/if}}
	      {{/if}}
	      <td class="right aligned"><small>{{human-size object.type object.size 1024}}</small></td>
	      <td class="right aligned clawio-modtime">
			<small data-title={{o.pathspec}} data-content={{human-date object.mtime}} data-variation="mini">{{time-since object.mtime}}</small>
	      </td>
	      <td class="right aligned">
	      {{#if object.ui_deleting}}
		<i class="ui red icon circle notched loading small"></i>
	      {{else}}
	      {{#unless batchMode}}
		<a {{action "delete" object.pathspec}} href=""><i class="ui red icon trash"></i></a>
	      {{/unless}}
	      {{/if}}
	      </td>
	    </tr>
	{{/each}}
  </tbody>
</table>
</div>
{{yield}}
