<form {{action "create" on="submit"}} class="ui form">
	<div class="inline field">
	      {{input type="checkbox" checked=passwordEnabled}}
	      <label>Password protection</label>
	</div>
	{{#if passwordEnabled}}
		<div class="field">
		  <div class="ui left icon input required mini">
		    <i class="red lock icon"></i>
		    {{input placeholder="Password" name="password" type="password" value=password}}
		  </div>
		</div>
	{{/if}}
	<div class="inline field">
	      {{input type="checkbox" checked=expireEnabled}}
	      <label>Set expire date</label>
	</div>
	{{#if expireEnabled}}
		<div class="field">
	  <div class="ui calendar" id="calendar">
	    <div class="ui input left icon mini">
	      <i class="calendar icon"></i>
	      {{input readonly type="text" placeholder="Date" value=date}}
	    </div>
	  </div>
	  </div>
	{{/if}}

	<button class="ui button blue inverted mini" type="submit">Create</button>
</form>
