{{#if model}}
    <div class="row">
        <div class="column">
            <div class="field">
                <p><i class="ui icon huge file text blue"></i></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui button mini" {{action "download" model.downloadUrl}}>
                <i class="ui icon download"></i>
                Download {{basename model.oinfo.path}} ({{human-size model.oinfo.type model.oinfo.size}})
            </div>
        </div>
    </div>
    <div class="row">
        <div class="eight wide column">
            <div class="ui action input fluid mini">
                <input readonly="" type="text" value="{{model.downloadUrl}}">
                <a href="{{model.downloadUrl}}"
                   class="ui button mini basic"> <i class="ui icon external"></i> Direct link
                </a>
            </div>
        </div>
    </div>
{{else}}
    <div class="ui red label">The link you are trying to access has been removed or does not exist</div>
{{/if}}
