<table class="very basic ui blue table fixed selectable collapsing very compacted" style="height: 75vh; display:block; overflow-y: auto">
    <thead>
    <tr>
        <th class="left aligned one wide no-sort" style="overflow:visible;">
            <div class="ui icon left pointing dropdown button basic">
                <i class="plus blue icon"></i>
                <div class="ui menu">
                    <div class="item {{if uploadTotal 'disabled'}}">
                      {{#x-file-input name="files" action="didSelectFiles" alt="Choose a file" multiple=true}}
                          <b><i class="ui upload blue icon"></i>Upload files</b>
                      {{/x-file-input}}
                    </div>
                    <div {{action "showBlobInput"}} class="item {{if newBlobButtonDisabled 'disabled'}}">
                        <div><b><i class="ui blue cube icon"></i>New file</b></div>
                    </div>
                    <div {{action "showFolderInput"}} class="item {{if newFolderButtonDisabled 'disabled'}}">
                        <div><b><i class="ui yellow folder open icon"></i>New folder</b></div>
                    </div>
                    <div {{action "toggleBatchMode"}} class="item {{unless viewFiles.length 'disabled'}} ">
                        <div><b><i class="ui green unoderered list icon"></i> Toggle batch mode</b></div>
                    </div>
                </div>
            </div>
        </th>
        <th class="left aligned one wide no-sort"></th>
        <th class="left aligned sorted ascending eleven wide">Name</th>
        <th class="right aligned one wide">Size</th>
        <th class="right aligned two wide">Modified</th>
        <th class="rigth aligned one wide"></th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |file|}}
        <tr
                class="{{if file.ui_deleting "disabled error"}}{{if file.ui_highlight "warning"}}{{if file.ui_selected "warning"}}{{if file.ui_renaming 'disabled warning'}}"
                data-clawio-path={{file.path}}
        >
            <td class="left aligned" style="overflow:visible;">
              {{#if batchMode }}
                {{input type="checkbox" checked=file.ui_selected}}
              {{else}}
                  <div class="ui icon left pointing dropdown file-dropdown">
                      <i class="blue ellipsis vertical icon"></i>
                      <div class="ui menu">
                          <div {{action "examine" file.path}} class="item"><i class="ui eye icon"></i>Examine</div>
                          <div {{action "toggleRename" file}} class="item"><i class="ui edit icon"></i>Rename</div>
                          <div {{action "share" file}} class="item"><i class="ui share alternate icon"></i>Share</div>
                      </div>
                  </div>
              {{/if}}
            </td>
            <td class="left aligned">
                <a {{action "default" file.type file.path}} href="">
                    <i class="ui large {{mime file.type file.mime_type}} icon"></i>
                </a>
            </td>
          {{#if file.ui_rename_input_visible}}
              <td>
                  <div class="ui small input fluid">
                    {{input type="text" value=newFileName class="rename-input" key-up="processRename" focus-out="hideRenameInput"}}
                  </div>
              </td>
          {{else}}
            {{#if file.ui_renaming}}
                <td>
                    <div class="ui left icon input disabled loading small fluid">
                        <input type="text" value="Renaming file" />
                        <i class="ui blue cube icon"></i>
                    </div>
                </td>
            {{else}}
                <td {{action "default" file.type file.path}} class="left aligned"><a href="">{{basename file.path}}</a></td>
            {{/if}}
          {{/if}}
            <td class="right aligned"><small>{{human-size file.type file.size 1024}}</small></td>
            <td class="right aligned clawio-modified">
                <small data-title={{o.path}} data-content={{human-date file.modified}} data-variation="mini">{{time-since file.modified}}</small>
            </td>
            <td class="right aligned">
              {{#if file.ui_deleting}}
                  <i class="ui red icon circle notched loading small"></i>
              {{else}}
                {{#unless batchMode}}
                    <a {{action "delete" file.path}} href=""><i class="ui red icon trash"></i></a>
                {{/unless}}
              {{/if}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
{{outlet}}
